@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");

:root {
  --debug-red: 1px solid red;
  --debug-blue: 1px solid blue;
  --debug-green: 1px solid green;
  --debug-black: 1px solid black;

  --debug: 1px solid red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: "Space Grotesk", sans-serif;
}

body {
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.bg-imagem-desktop {
  position: absolute;
  width: 40%;
  height: 100%;
}

.bg-imagem-mobile {
  display: none;
}

.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 800px;
  display: flex;
}

.display-cartao {
  flex: 0 1 600px;
  position: relative;
  color: hsl(0, 0%, 100%);
  flex: 1 0 auto;
}

.cartao-frente,
.cartao-verso {
  position: absolute;
  width: fit-content;
}

.cartao-imagem-frente,
.cartao-imagem-verso {
  border-radius: 12px;
  box-shadow: rgb(0, 0, 0, 0.2) 0px 20px 30px;
}

.cartao-frente {
  left: 210px;
  top: 130px;
}
.cartao-verso {
  left: 280px;
  bottom: 130px;
}

.cartao-logo,
.numero-cartao-display,
.nome-cartao-display,
.expiracao-mes-display,
.expiracao-ano-display,
.expiracao-display {
  position: absolute;
}

.cartao-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
}

.numero-cartao-display {
  bottom: 80px;
  left: 30px;
  font-size: 25px;
  letter-spacing: 5px;
}

.nome-cartao-display {
  bottom: 30px;
  left: 30px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.expiracao-mes-display {
  bottom: 30px;
  right: 85px;
  font-size: 0.9em;
}

.expiracao-ano-display {
  bottom: 30px;
  right: 30px;
  font-size: 0.9em;
}

.expiracao-display {
  bottom: 30px;
  right: 75px;
  font-size: 0.9em;
}

.cvc-cartao {
  position: absolute;
  right: 60px;
  bottom: 117px;
}

.detalhe-cartao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 1 45%;
}

/* Formulário */
form {
  height: 350px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

label .numero-cartao,
label .expiracao-data,
label .cvc {
  margin-top: 30px;
}

input {
  width: 350px;
  padding: 10px 10px;
  border: 1px solid hsla(279, 6%, 55%, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

input:focus {
  outline: 0px solid hsl(249, 99%, 64%);
  border-top-color: hsl(249, 99%, 64%);
  border-right-color: hsl(278, 94%, 30%);
  border-bottom-color: hsl(249, 99%, 64%);
  border-left-color: hsl(278, 94%, 30%);
}

input::placeholder {
  font-weight: 300;
}

#errorMsg,
#card-num-error,
#expiry-error,
#error-cvc {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  font-weight: 500;
  padding-top: 2px;
  padding-left: 2px;
}

#expiry-error,
#error-cvc {
  letter-spacing: 1px;
}

.flex {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.flex .expiracao {
  width: 90px;
  margin-right: 5px;
}

.flex .cvc {
  width: 135px;
}

input .expiracao,
input .cvc {
  margin-top: 5px;
}

button {
  all: unset;
  text-align: center;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 16px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

button:hover {
  background-color: hsl(278, 68%, 11%, 0.8);
}

.hidden {
  display: none;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  .cartao-frente {
    left: 75px;
  }
  .cartao-verso {
    left: 140px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .bg-imagem-desktop {
    display: none;
  }

  .bg-imagem-mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
  }

  .cartao-frente {
    top: 100px;
    z-index: 5;
  }

  .cartao-verso {
    top: 0px;
    left: 300px;
  }

  .cartao-imagem-frente,
  .cartao-imagem-verso {
    max-width: 400px;
    width: 100%;
  }

  .cvc-cartao {
    top: 97px;
    bottom: 0;
    right: 45px;
  }

  .detalhe-cartao {
    position: relative;
    flex: 0 1 50%;
  }
}
/* Mobile */
@media screen and (max-width: 425px) {
  .bg-imagem-mobile {
    height: 250px;
  }

  .cartao-imagem-frente {
    top: 100px;
    left: 30px;
  }

  .cartao-imagem-verso {
    left: 100px;
  }

  .cartao-imagem-frente,
  .cartao-imagem-verso {
    max-width: 300px;
  }

  .numero-cartao-display {
    font-size: 14px;
    bottom: 60px;
    letter-spacing: 4px;
  }

  .nome-cartao-display {
    font-size: 12px;
  }

  .expiracao-mes-display,
  .expiracao-ano-display,
  .expiracao-display {
    font-size: 12px;
  }

  .expiracao-ano-display {
    right: 38px;
  }

  .cvc-cartao {
    font-size: 12px;
    bottom: unset;
    top: 75px;
    right: 38px;
  }

  .detalhe-cartao {
    position: relative;
    flex: 0 1 65%;
  }
}
